.root {
    -fx-background-color: linear-gradient(to bottom right, #1e2529, #1e2529);
    /*-fx-background-color: linear-gradient(to bottom right, #752e65, #44008b);*/
}





.button-favicon {
    -fx-graphic: url('../Icon/book.jpg');
}
.button-favicon:hover {
    -fx-background-color: none;
    -fx-text-fill:  #6adaea;
    -fx-font-size: 20;
    -fx-cursor: default;
}

                                        /* ?           BUTTON            */
/*!________________________________________________________________________________________________________*/


/* *design cho button*/
.button {

    -fx-background-color: #2a3439;
    /*-fx-background-radius: 10px;*/
    -fx-text-fill: #bce4f9;
    -fx-font-family: "Distefano Sans Bold";
    -fx-font-size: 17px;
}


/* * khi button có chuột ở trên  */
.button:hover {

    -fx-background-color: #414d53;
    /*-fx-background-radius: 10px;*/
    -fx-text-fill: #bce4f9;
    -fx-font-family: "Distefano Sans Bold";
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}


/* * khi button ấn */
.button:pressed {

    -fx-background-color: #414d53;
    /*-fx-background-radius: 10px;*/
    -fx-text-fill: #bce4f9;
    -fx-font-family: "Distefano Sans Bold";
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

/* * sau khi ấn, ấn button khác thì "unfocused"  */
/*.button:focused {*/
/*    background-color: #414d53;*/
/*    -fx-background-color: #414d53;*/
/*    !*-fx-background-radius: 10px;*!*/
/*    -fx-text-fill: #bce4f9;*/
/*    -fx-font-family: "Distefano Sans Bold";*/
/*    -fx-font-size: 17px;*/
/*    -fx-font-weight: bold;*/
/*}*/


/*!________________________________________________________________________________________________________*/


                                        /* ?          individual BUTTON             */
.button-search {
    -fx-graphic: url('../Icon/search.png');
}
.button-search:hover {
    -fx-graphic: url('../Icon/search.png');
}
.button-search:pressed {
    -fx-graphic: url('../Icon/search.png');
}
.button-search:focused {
    /* * sau khi ấn, ấn button khác thì "unfocused"  */
    background-color: #414d53;
    -fx-background-color: #414d53;
    /*-fx-background-radius: 10px;*/
    -fx-text-fill: #bce4f9;
    -fx-font-family: "Distefano Sans Bold";
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}



.button-translate {
    -fx-graphic: url('../Icon/translate.png');
}
.button-translate:hover {
    -fx-graphic: url('../Icon/translate.png');
}
.button-translate:pressed {
    -fx-graphic: url('../Icon/translate.png');
}
.button-translate:focused {
    /* * sau khi ấn, ấn button khác thì "unfocused"  */
    background-color: #414d53;
    -fx-background-color: #414d53;
    /*-fx-background-radius: 10px;*/
    -fx-text-fill: #bce4f9;
    -fx-font-family: "Distefano Sans Bold";
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}


.button-Game {
    -fx-graphic: url('../Icon/Game.png');
}
.button-Game:hover {
    -fx-graphic: url('../Icon/Game.png');
}
.button-Game:pressed {
    -fx-graphic: url('../Icon/Game.png');
}
.button-Game:focused {
    /* * sau khi ấn, ấn button khác thì "unfocused"  */
    background-color: #414d53;
    -fx-background-color: #414d53;
    /*-fx-background-radius: 10px;*/
    -fx-text-fill: #bce4f9;
    -fx-font-family: "Distefano Sans Bold";
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}



.button-Database {
    -fx-graphic: url('../Icon/BD1.png');
}
.button-Database:hover {
    -fx-graphic: url('../Icon/BD1.png');
}
.button-Database:pressed {
    -fx-graphic: url('../Icon/BD1.png');
}
.button-Database:focused {
    /* * sau khi ấn, ấn button khác thì "unfocused"  */
    background-color: #414d53;
    -fx-background-color: #414d53;
    /*-fx-background-radius: 10px;*/
    -fx-text-fill: #bce4f9;
    -fx-font-family: "Distefano Sans Bold";
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}




