.root {
    -fx-background-color: linear-gradient(to bottom right, #171f27, #343434);
    /*-fx-background-color: linear-gradient(to bottom right, #752e65, #44008b);*/



}
/*#sidebar{*/
/*    -fx-background-color: #ffffff;*/
/*}*/


/*.container{*/
/*    -fx-background-color: #a7a7a7;*/
/*    -fx-background-radius: 5;*/
/*    -fx-border-radius: 5;*/
/*}*/


* {
    -fx-font-family: "Segoe UI Bold";
}

.button-favicon {
    -fx-graphic: url('../Icon/book.jpg');
}
.button-favicon:hover {
    -fx-background-color: none;
    -fx-text-fill:  #6adaea;
    -fx-font-size: 20;
    -fx-cursor: default;
}





.button:hover {
    background-color: #414d53;
    -fx-background-color: #414d53;
    /*-fx-background-radius: 10px;*/
    -fx-text-fill: #bce4f9;
    -fx-font-family: "Distefano Sans Bold";
    -fx-font-size: 17px;
    -fx-font-weight: bold;

}

.button.active {
    background-color: #414d53;
    -fx-background-color: #414d53;
    /*-fx-background-radius: 10px;*/
    -fx-text-fill: #bce4f9;
    -fx-font-family: "Distefano Sans Bold";
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}


.button {
    background-color: #2a3439;
    -fx-background-color: #2a3439;
    /*-fx-background-radius: 10px;*/
    -fx-text-fill: #bce4f9;
    -fx-font-family: "Distefano Sans Bold";
    -fx-font-size: 17px;

}

.button-search {
    -fx-graphic: url('../Icon/search.png');
}
.button-search:hover {
    -fx-graphic: url('../Icon/search.png');
}
.button-search.active {
    -fx-graphic: url('../Icon/search.png');
}


.button-translate {
    -fx-graphic: url('../Icon/translate.png');
}
.button-translate:hover {
    -fx-graphic: url('../Icon/translate.png');
}

.button-translate.active {
    -fx-graphic: url('../Icon/translate.png');
}



.button-Game {
    -fx-graphic: url('../Icon/Game.png');
}

.button-Game:hover {
    -fx-graphic: url('../Icon/Game.png');
}

.button-Game.active {
    -fx-graphic: url('../Icon/Game.png');
}



.button-Database {
    -fx-graphic: url('../Icon/BD1.png');
}

.button-Database:hover {
    -fx-graphic: url('../Icon/BD1.png');
}

.button-Database.active {
    -fx-graphic: url('../Icon/BD1.png');
}

.button-setting {
    /*-fx-graphic: url('../Icon/BD1.png');*/
}

.button-setting:hover {
    /*-fx-graphic: url('../Icon/BD1.png');*/
}

.button-setting.active {
    /*-fx-graphic: url('../Icon/BD1.png');*/
}