

.first-color {
    -fx-background-color: #414D53FF;
}

.second-color {
    -fx-background-color: #f2f3f5;
}

.third-color {
    -fx-background-color: #e3e5e8;
}



.html-editor {

    -fx-border-color: #ff0000;
    -fx-border-radius: 3;
    -fx-focus-color: transparent;
    -fx-font-size: 12;
}

.html-editor .button, .html-editor .toggle-button {
    -fx-background-color: #395362;
}

.UKspeakButton {
    -fx-graphic: url('../Icon/UK3.png');
}

.UKspeakButton:hover {
    -fx-graphic: url('../Icon/UK3.png');
}

.UKspeakButton.active {
    -fx-graphic: url('../Icon/UK3.png');
}

