.root {
    -button-color: #747f8d;
    -hover-button-color: #2e3338;

    -purple-color: #5865F2;
    -hover-purple-color: #4752C4;

    -text-color: #555c5d;
    -hover-text-color: #2e3338;

    -gray-color: #e6e6e6;
    -title-color: #060607;
    -hover-background-color: #D4D7DC;
}

.first-color {
    -fx-background-color: white;
}

.second-color {
    -fx-background-color: #f2f3f5;
}

.third-color {
    -fx-background-color: #e3e5e8;
}

body {
    color: red; /* Change the text color to red */
}

.html-editor {
    -fx-pref-width: 100;
    -fx-border-color: -purple-color;
    -fx-border-radius: 3;
    -fx-focus-color: transparent;
    -fx-font-size: 12;
}

.html-editor .button, .html-editor .toggle-button {
    -fx-background-color: -hover-background-color;
}

.UKspeakButton {
    -fx-graphic: url('../Icon/UK3.png');
}

.UKspeakButton:hover {
    -fx-graphic: url('../Icon/UK3.png');
}

.UKspeakButton.active {
    -fx-graphic: url('../Icon/UK3.png');
}

